body {
  background-color: white;
  font-family: futura-pt, sans-serif; 
  padding: 30px;
}

h1 {
  font-family: futura-pt, sans-serif; 
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 65px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  margin-top: -20px;
}

p {
  font-family: futura-pt, sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  text-align: left;
}

.tea-item {
  line-height: 0;
  font-family: futura-pt, sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
}

.tea-item--line1 {
  display: flex;
  text-align: left;
  line-height: 0.2;
}

.tea-item--line1:hover {
  cursor: pointer;
}

.tea-item--line1:active {
  background-color: #eee;
}

.tea-name {
  font-weight: 500;
  text-transform: uppercase;
}

.tea-origin {
  text-transform: uppercase;
}

.tasting-notes {
  text-transform: lowercase;
}

.tea-info {
  flex: 2;
}

.prices {
  flex: 1;
  text-align: left;
  font-weight: 500;
  font-size: 0.9em;
}

.tea-item--line2 {
  display: block;
  background-color: #eee;
  padding: 3px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tea-item--line2 {
  line-height: 1.3;
  font-size: 1.2em;
}

.punch-line {
  font-weight: 500;
}

.map {
  width: 100%;
  height: 300px;
}

.tea-item-line2--images {
  width: 100%;
  height: auto;
}